---

---

<div class="border-foreground/25 mt-16 rounded-lg border p-6">
  <h3
    class="mb-3 flex items-center gap-2 font-mono text-lg font-bold opacity-90"
  >
    <span>🧰</span> My Toolkit
  </h3>
  <p class="text-base leading-relaxed opacity-80">
    Genspark新近推出的“类Typeless”智能语音输入工具，Speakly，体验非常丝滑，目前推广期间只要用此链接
    <a
      href="https://genspark.ai/speakly/invite/NmJjNmI0YTNMMWJmMkw3NTA0TDRlN2JlMmUzNDY3OEw1Mzk0"
      target="_blank"
      rel="noopener noreferrer"
      class="text-accent font-bold whitespace-nowrap hover:underline"
    >
      (Speakly 30天免费试用)
    </a>
    注册就能免费获得价值19刀的30天免费试用，输入字数无上限。
  </p>
</div>
