---
import Socials from "./Socials.astro";
---

<footer class="footer-margin z-40">
  <Socials />
  <div
    class="text-foreground/50 flex items-center justify-between text-sm select-none"
  >
    <p>© 2025 数字游民Jarod</p>
    <p>
      powered by <a
        href="https://astro.build"
        target="blank"
        class="hover:text-accent"
        aria-label="astro site">Astro</a
      > &
      <a
        href="https://jarodise.com"
        target="_blank"
        rel="noopener noreferrer"
        class="hover:text-accent"
        aria-label="数字游民部落 site">数字游民部落</a
      >
    </p>
  </div>
</footer>
