---

---

<h1 class="heading">数字游民部落</h1>
<div class="paragraph">
  <p>
    欢迎来到数字游民部落！这里是关于数字游民生活方式设计的中文内容社区。我是Jarod，一名践行数字游民生活方式多年的内容创作者。
  </p>
  <p>
    在这里，你可以找到关于远程工作、地理套利、旅居生活、个人成长等话题的深度思考和实践经验分享。
  </p>
</div>
