---

---

<nav class="flex items-center justify-center gap-4">
  <a
    href="/archive/1"
    class:list={[
      "navigation animation",
      Astro.url.pathname.startsWith("/archive") ? "text-accent" : "",
    ]}>archive</a
  >
  <a
    href="/tags"
    class:list={[
      "navigation animation",
      Astro.url.pathname.startsWith("/tags") ? "text-accent" : "",
    ]}>tags</a
  >
  <a
    href="/page/recommended-services"
    class:list={[
      "navigation animation",
      Astro.url.pathname.startsWith("/page/recommended-services")
        ? "text-accent"
        : "",
    ]}>推荐服务</a
  >
  <a
    href="https://namecard.xiaoyuzhoufm.com/j7yhu"
    target="_blank"
    rel="noopener noreferrer"
    class="navigation animation">🎧数字游民播客</a
  >
</nav>
