---
import IconYoutube from "../assets/icons/brand-youtube.svg";
import IconDiscord from "../assets/icons/brand-discord.svg";
import IconTwitter from "../assets/icons/brand-x.svg";
---

<div class="flex items-center justify-center space-x-6 pb-8">
  <a href="https://www.youtube.com/@jarodise42" target="blank" aria-label="youtube"
    ><IconYoutube class="socials" /></a
  >
  <a href="https://discord.com/invite/RVjS4XWF5h" target="blank" aria-label="discord"
    ><IconDiscord class="socials" /></a
  >
  <a href="https://x.com/jarodise" target="blank" aria-label="twitter"
    ><IconTwitter class="socials" /></a
  >
</div>
