---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout
    title="推荐服务"
    description="数字游民推荐服务列表：科学上网、AI服务、保险等"
    url="https://jarodise.com/page/recommended-services"
>
    <article>
        <div class="center">
            <h1 class="blog-title">推荐服务</h1>

            <hr class="border-foreground/25 mt-14 mb-3 border-t" />

            <section class="markdown">
                <h2>科学上网服务推荐 🪜</h2>

                <ol>
                    <li>
                        <a
                            href="https://client.neobitznet.com/#/register?code=30CgSOUX"
                            target="_blank"
                            rel="noopener noreferrer"
                        >
                            高端专线机场 ✈️（约40元/月，油管4K丝滑秒开）
                        </a>
                    </li>
                    <li>
                        <a
                            href="https://www.m78.at/#/register?code=2xz7xee7"
                            target="_blank"
                            rel="noopener noreferrer"
                        >
                            中端中转机场（约20元/月，附赠Emby服）
                        </a>
                    </li>
                    <li>
                        <a
                            href="https://edu.360buyimg.men/auth/register?code=KJIXx5Ra"
                            target="_blank"
                            rel="noopener noreferrer"
                        >
                            高性价比直连机场（低至1元/月，适合备用）
                        </a>
                    </li>
                </ol>

                <hr />

                <div class="space-y-8">
                    <figure>
                        <a
                            href="https://cloud.siliconflow.cn/i/lkfzJQLX"
                            target="_blank"
                            rel="noopener noreferrer"
                        >
                            <img
                                src="https://cdn.hashnode.com/res/hashnode/image/upload/v1738486588002/1e81fbc5-c34e-42a1-884e-1de653c6613b.png"
                                alt="SiliconFlow DeepSeek R1 Banner"
                                class="w-full rounded-lg shadow-md transition-opacity hover:opacity-90"
                            />
                        </a>
                        <figcaption
                            class="mt-2 text-center text-sm text-gray-600 italic dark:text-gray-400"
                        >
                            *点此注册硅基流动账号，获赠14元免费 DeepSeek R1
                            满血版 API 使用额度*
                        </figcaption>
                    </figure>

                    <figure>
                        <a
                            href="https://safetywing.com/?referenceID=jarodise&utm_source=jarodise&utm_medium=Ambassador"
                            target="_blank"
                            rel="noopener noreferrer"
                        >
                            <img
                                src="https://cdn.hashnode.com/res/hashnode/image/upload/v1707732414242/6l14VleKw.avif"
                                alt="SafetyWing Nomad Insurance Banner"
                                class="w-full rounded-lg shadow-md transition-opacity hover:opacity-90"
                            />
                        </a>
                        <figcaption
                            class="mt-2 text-center text-sm text-gray-600 italic dark:text-gray-400"
                        >
                            *专为数字游民设计的，在旅途中也可以随时投保的高性价比旅行保险
                            - SafetyWing Nomad Insurance*
                        </figcaption>
                    </figure>
                </div>
            </section>

            <hr class="border-foreground/25 mt-14 mb-3 border-t" />
        </div>
    </article>
</BaseLayout>
